@charset "CP850";
/* line 1, ../sass/Site.scss */
html {
  background-color: #e2e2e2;
  margin: 0;
  padding: 0;
}

/* line 7, ../sass/Site.scss */
body {
  background-color: #fff;
  /*border-top: solid 10px #000;*/
  color: #333;
  font-size: .85em;
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
  margin: 0;
  padding: 0;
}

/* line 17, ../sass/Site.scss */
a {
  color: #333;
  outline: none;
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: underline;
}
/* line 23, ../sass/Site.scss */
a:link, a:visited, a:active {
  color: #333;
}
/* line 26, ../sass/Site.scss */
a:hover {
  color: #333;
  background-color: #c7d1d6;
}

/* line 32, ../sass/Site.scss */
header, footer, hgroup, nav, section {
  display: block;
}

/* line 36, ../sass/Site.scss */
mark {
  background-color: #a6dbed;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 42, ../sass/Site.scss */
.float-left {
  float: left;
}

/* line 46, ../sass/Site.scss */
.float-right {
  float: right;
}

/* line 50, ../sass/Site.scss */
.clear-fix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 58, ../sass/Site.scss */
h1, h2, h3, h4, h5, h6 {
  color: #000;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 64, ../sass/Site.scss */
h1 {
  font-size: 2em;
}

/* line 68, ../sass/Site.scss */
h2 {
  font-size: 1.75em;
}

/* line 72, ../sass/Site.scss */
h3 {
  font-size: 1.2em;
}

/* line 76, ../sass/Site.scss */
h4 {
  font-size: 1.1em;
}

/* line 80, ../sass/Site.scss */
h5, h6 {
  font-size: 1em;
}

/* line 85, ../sass/Site.scss */
h5 a:link, h5 a:visited, h5 a:active {
  padding: 0;
  text-decoration: none;
}

/* main layout
----------------------------------------------------------*/
/* line 94, ../sass/Site.scss */
.content-wrapper {
  margin: 0 auto;
  max-width: 960px;
}

/* line 99, ../sass/Site.scss */
#body {
  background-color: #efeeef;
  clear: both;
  padding-bottom: 35px;
}

/* line 105, ../sass/Site.scss */
.main-content {
  background: url("../Images/accent.png") no-repeat;
  padding-left: 10px;
  padding-top: 30px;
}

/* line 111, ../sass/Site.scss */
.featured + .main-content {
  background: url("../Images/heroAccent.png") no-repeat;
}

/* line 115, ../sass/Site.scss */
header .content-wrapper {
  padding-top: 20px;
}

/* line 119, ../sass/Site.scss */
footer {
  clear: both;
  background-color: #e2e2e2;
  font-size: .8em;
  height: 100px;
}

/* site title
----------------------------------------------------------*/
/* line 129, ../sass/Site.scss */
.site-title {
  color: #c8c8c8;
  font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
  font-size: 2.3em;
  margin: 0;
}
/* line 134, ../sass/Site.scss */
.site-title a {
  background: none;
  color: #c8c8c8;
  outline: none;
  text-decoration: none;
}
/* line 139, ../sass/Site.scss */
.site-title a:hover, .site-title a:active {
  background: none;
  color: #c8c8c8;
  outline: none;
  text-decoration: none;
}

/* login
----------------------------------------------------------*/
/* line 151, ../sass/Site.scss */
#login {
  display: block;
  font-size: .85em;
  margin: 0 0 10px;
  text-align: right;
}
/* line 156, ../sass/Site.scss */
#login a {
  background-color: #d3dce0;
  margin-left: 10px;
  margin-right: 3px;
  padding: 2px 3px;
  text-decoration: none;
}
/* line 162, ../sass/Site.scss */
#login a.username {
  background: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}
/* line 169, ../sass/Site.scss */
#login ul {
  margin: 0;
}
/* line 172, ../sass/Site.scss */
#login li {
  display: inline;
  list-style: none;
}

/* menu
----------------------------------------------------------*/
/* line 181, ../sass/Site.scss */
ul#menu {
  font-size: 1.3em;
  font-weight: 600;
  margin: 0 0 5px;
  padding: 0;
  text-align: right;
}
/* line 187, ../sass/Site.scss */
ul#menu li {
  display: inline;
  list-style: none;
  padding-left: 15px;
}
/* line 191, ../sass/Site.scss */
ul#menu li a {
  background: none;
  color: #999;
  text-decoration: none;
}
/* line 195, ../sass/Site.scss */
ul#menu li a:hover {
  color: #333;
  text-decoration: none;
}

/* page elements
----------------------------------------------------------*/
/* featured */
/* line 207, ../sass/Site.scss */
.featured {
  background-color: #fff;
}
/* line 209, ../sass/Site.scss */
.featured .content-wrapper {
  background-color: #7ac0da;
  background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
  background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
  background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
  background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
  color: #3e5667;
  padding: 20px 40px 30px 40px;
}
/* line 220, ../sass/Site.scss */
.featured hgroup.title h1, .featured hgroup.title h2 {
  color: #fff;
}
/* line 224, ../sass/Site.scss */
.featured p {
  font-size: 1.1em;
}

/* page titles */
/* line 231, ../sass/Site.scss */
hgroup.title {
  margin-bottom: 10px;
}
/* line 233, ../sass/Site.scss */
hgroup.title h1 {
  display: inline;
}
/* line 236, ../sass/Site.scss */
hgroup.title h2 {
  display: inline;
  font-weight: normal;
  margin-left: 3px;
}

/* features */
/* line 245, ../sass/Site.scss */
section.feature {
  width: 300px;
  float: left;
  padding: 10px;
}

/* ordered list */
/* line 253, ../sass/Site.scss */
ol.round {
  list-style-type: none;
  padding-left: 0;
}
/* line 256, ../sass/Site.scss */
ol.round li {
  margin: 25px 0;
  padding-left: 45px;
}
/* line 259, ../sass/Site.scss */
ol.round li.zero {
  background: url("../Images/orderedList0.png") no-repeat;
}
/* line 262, ../sass/Site.scss */
ol.round li.one {
  background: url("../Images/orderedList1.png") no-repeat;
}
/* line 265, ../sass/Site.scss */
ol.round li.two {
  background: url("../Images/orderedList2.png") no-repeat;
}
/* line 268, ../sass/Site.scss */
ol.round li.three {
  background: url("../Images/orderedList3.png") no-repeat;
}
/* line 271, ../sass/Site.scss */
ol.round li.four {
  background: url("../Images/orderedList4.png") no-repeat;
}
/* line 274, ../sass/Site.scss */
ol.round li.five {
  background: url("../Images/orderedList5.png") no-repeat;
}
/* line 277, ../sass/Site.scss */
ol.round li.six {
  background: url("../Images/orderedList6.png") no-repeat;
}
/* line 280, ../sass/Site.scss */
ol.round li.seven {
  background: url("../Images/orderedList7.png") no-repeat;
}
/* line 283, ../sass/Site.scss */
ol.round li.eight {
  background: url("../Images/orderedList8.png") no-repeat;
}
/* line 286, ../sass/Site.scss */
ol.round li.nine {
  background: url("../Images/orderedList9.png") no-repeat;
}

/* content */
/* line 294, ../sass/Site.scss */
article {
  float: left;
  width: 70%;
}

/* line 299, ../sass/Site.scss */
aside {
  float: right;
  width: 25%;
}
/* line 302, ../sass/Site.scss */
aside ul {
  list-style: none;
  padding: 0;
}
/* line 305, ../sass/Site.scss */
aside ul li {
  background: url("../Images/bullet.png") no-repeat 0 50%;
  padding: 2px 0 2px 20px;
}

/* line 312, ../sass/Site.scss */
.label {
  font-weight: 700;
}

/* login page */
/* line 318, ../sass/Site.scss */
#loginForm {
  border-right: solid 2px #c8c8c8;
  float: left;
  width: 55%;
}
/* line 322, ../sass/Site.scss */
#loginForm .validation-error {
  display: block;
  margin-left: 15px;
}
/* line 327, ../sass/Site.scss */
#loginForm .validation-summary-errors ul {
  margin: 0;
  padding: 0;
}
/* line 331, ../sass/Site.scss */
#loginForm .validation-summary-errors li {
  display: inline;
  list-style: none;
  margin: 0;
}
/* line 337, ../sass/Site.scss */
#loginForm input {
  width: 250px;
}
/* line 339, ../sass/Site.scss */
#loginForm input[type="checkbox"], #loginForm input[type="submit"], #loginForm input[type="button"] {
  width: auto;
}
/* line 343, ../sass/Site.scss */
#loginForm button {
  width: auto;
}

/* line 348, ../sass/Site.scss */
#socialLoginForm {
  margin-left: 40px;
  float: left;
  width: 40%;
}
/* line 352, ../sass/Site.scss */
#socialLoginForm h2 {
  margin-bottom: 5px;
}

/* line 357, ../sass/Site.scss */
#socialLoginList button {
  margin-bottom: 12px;
}

/* line 361, ../sass/Site.scss */
#logoutForm {
  display: inline;
}

/* contact */
/* line 368, ../sass/Site.scss */
.contact h3 {
  font-size: 1.2em;
}
/* line 371, ../sass/Site.scss */
.contact p {
  margin: 5px 0 0 10px;
}
/* line 374, ../sass/Site.scss */
.contact iframe {
  border: 1px solid #333;
  margin: 5px 0 0 10px;
}

/* forms */
/* line 382, ../sass/Site.scss */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
/* line 386, ../sass/Site.scss */
fieldset legend {
  display: none;
}
/* line 389, ../sass/Site.scss */
fieldset ol {
  padding: 0;
  list-style: none;
}
/* line 392, ../sass/Site.scss */
fieldset ol li {
  padding-bottom: 5px;
}

/* line 398, ../sass/Site.scss */
label {
  display: block;
  font-size: 1.2em;
  font-weight: 600;
}
/* line 402, ../sass/Site.scss */
label.checkbox {
  display: inline;
}

/* line 407, ../sass/Site.scss */
input {
  border: 1px solid #e2e2e2;
  background: #fff;
  color: #333;
  font-size: 1.2em;
  margin: 5px 0 6px 0;
  padding: 5px;
  width: 300px;
}

/* line 417, ../sass/Site.scss */
textarea {
  border: 1px solid #e2e2e2;
  background: #fff;
  color: #333;
  font-size: 1.2em;
  margin: 5px 0 6px 0;
  padding: 5px;
  width: 300px;
  font-family: inherit;
  width: 500px;
}

/* line 429, ../sass/Site.scss */
input:focus, textarea:focus {
  border: 1px solid #7ac0da;
}

/* line 434, ../sass/Site.scss */
input[type="checkbox"] {
  background: transparent;
  border: inherit;
  width: auto;
}
/* line 439, ../sass/Site.scss */
input[type="submit"], input[type="button"] {
  background-color: #d3dce0;
  border: 1px solid #787878;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
  padding: 7px;
  margin-right: 8px;
  width: auto;
}

/* line 451, ../sass/Site.scss */
button {
  background-color: #d3dce0;
  border: 1px solid #787878;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
  padding: 7px;
  margin-right: 8px;
  width: auto;
}

/* line 464, ../sass/Site.scss */
td input[type="submit"], td input[type="button"] {
  font-size: 1em;
  padding: 4px;
  margin-right: 4px;
}
/* line 470, ../sass/Site.scss */
td button {
  font-size: 1em;
  padding: 4px;
  margin-right: 4px;
}

/* info and errors */
/* line 479, ../sass/Site.scss */
.message-info {
  border: 1px solid;
  clear: both;
  padding: 10px 20px;
}

/* line 485, ../sass/Site.scss */
.message-error {
  clear: both;
  color: #e80c4d;
  font-size: 1.1em;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

/* line 493, ../sass/Site.scss */
.message-success {
  color: #7ac0da;
  font-size: 1.3em;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

/* line 500, ../sass/Site.scss */
.error {
  color: #e80c4d;
}

/* styles for validation helpers */
/* line 506, ../sass/Site.scss */
.field-validation-error {
  color: #e80c4d;
  font-weight: bold;
}

/* line 511, ../sass/Site.scss */
.field-validation-valid {
  display: none;
}

/* line 516, ../sass/Site.scss */
input.input-validation-error {
  border: 1px solid #e80c4d;
}
/* line 519, ../sass/Site.scss */
input[type="checkbox"].input-validation-error {
  border: 0 none;
}

/* line 524, ../sass/Site.scss */
.validation-summary-errors {
  color: #e80c4d;
  font-weight: bold;
  font-size: 1.1em;
}

/* line 530, ../sass/Site.scss */
.validation-summary-valid {
  display: none;
}

/* tables
----------------------------------------------------------*/
/* line 537, ../sass/Site.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 0.75em;
  border: 0 none;
}

/* line 544, ../sass/Site.scss */
th {
  font-size: 1.2em;
  text-align: left;
  border: none 0px;
  padding-left: 0;
}
/* line 549, ../sass/Site.scss */
th a {
  display: block;
  position: relative;
}
/* line 552, ../sass/Site.scss */
th a:link, th a:visited, th a:active {
  color: #333;
  font-weight: 600;
  text-decoration: none;
  padding: 0;
}
/* line 558, ../sass/Site.scss */
th a:hover {
  color: #333;
  font-weight: 600;
  text-decoration: none;
  padding: 0;
  color: #000;
}
/* line 566, ../sass/Site.scss */
th.asc a, th.desc a {
  margin-right: .75em;
}
/* line 569, ../sass/Site.scss */
th.asc a:after, th.desc a:after {
  display: block;
  position: absolute;
  right: 0em;
  top: 0;
  font-size: 0.75em;
}
/* line 576, ../sass/Site.scss */
th.asc a:after {
  content: '▲';
}
/* line 579, ../sass/Site.scss */
th.desc a:after {
  content: '▼';
}

/* line 584, ../sass/Site.scss */
td {
  padding: 0.25em 2em 0.25em 0em;
  border: 0 none;
}

/* line 589, ../sass/Site.scss */
tr.pager td {
  padding: 0 0.25em 0 0;
}

/*alter mio*/
/* line 595, ../sass/Site.scss */
.display-label {
  font-weight: bold;
}

/* Grid */
/* line 601, ../sass/Site.scss */
.datagrid {
  font: normal 12px/150% Arial, Helvetica, sans-serif;
  background: #fff;
  overflow: hidden;
  border: 1px solid #002436;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/* line 602, ../sass/Site.scss */
.datagrid table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  margin-top: 0;
}
/* line 607, ../sass/Site.scss */
.datagrid table td, .datagrid table th {
  padding: 2px 2px;
  height: 20px;
}
/* line 611, ../sass/Site.scss */
.datagrid table thead th {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #333333), color-stop(1, #555555));
  background: -moz-linear-gradient(center top, #333333 5%, #555555 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#555');
  background-color: #333;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  border-left: 1px solid #A3A3A3;
}
/* line 620, ../sass/Site.scss */
.datagrid table thead th:first-child {
  border: none;
}
/* line 625, ../sass/Site.scss */
.datagrid table tbody td {
  color: #555;
  border-left: 1px solid #999;
  font-size: 12px;
  font-weight: normal;
}
/* line 631, ../sass/Site.scss */
.datagrid table tbody .alt td {
  /*background: #EBEBEB;
  color: #7D7D7D;*/
  background: #00f;
}
/* line 636, ../sass/Site.scss */
.datagrid table tbody td:first-child {
  border-left: none;
}
/* line 639, ../sass/Site.scss */
.datagrid table tbody tr:last-child td {
  border-bottom: none;
}
/* line 644, ../sass/Site.scss */
.datagrid table tfoot td {
  padding: 0;
  font-size: 12px;
}
/* line 645, ../sass/Site.scss */
.datagrid table tfoot td div {
  border-top: 1px solid #002436;
  background: #EBEBEB;
  padding: 2px;
}
/* line 652, ../sass/Site.scss */
.datagrid table tfoot td ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
/* line 659, ../sass/Site.scss */
.datagrid table tfoot li {
  display: inline;
}
/* line 661, ../sass/Site.scss */
.datagrid table tfoot li a {
  text-decoration: none;
  display: inline-block;
  padding: 2px 8px;
  margin: 1px;
  color: #F5F5F5;
  border: 1px solid #8C8C8C;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8c8c8c), color-stop(1, #7d7d7d));
  background: -moz-linear-gradient(center top, #8c8c8c 5%, #7d7d7d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
  background-color: #8C8C8C;
}
/* line 678, ../sass/Site.scss */
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover {
  text-decoration: none;
  border-color: #7D7D7D;
  color: #F5F5F5;
  background: none;
  background-color: #8C8C8C;
}

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {
  /* header
  ----------------------------------------------------------*/
  /* line 705, ../sass/Site.scss */
  header .float-left, header .float-right {
    float: none;
  }
  /* line 708, ../sass/Site.scss */
  header .site-title {
    margin: 10px;
    text-align: center;
  }

  /* logo */
  /* login */
  /* line 715, ../sass/Site.scss */
  #login {
    font-size: .85em;
    margin: 0 0 12px;
    text-align: center;
  }
  /* line 719, ../sass/Site.scss */
  #login ul {
    margin: 5px 0;
    padding: 0;
  }
  /* line 723, ../sass/Site.scss */
  #login li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* line 729, ../sass/Site.scss */
  #login a {
    background: none;
    color: #999;
    font-weight: 600;
    margin: 2px;
    padding: 0;
  }
  /* line 735, ../sass/Site.scss */
  #login a:hover {
    color: #333;
  }

  /* menu */
  /* line 741, ../sass/Site.scss */
  nav {
    margin-bottom: 5px;
  }

  /* line 744, ../sass/Site.scss */
  ul#menu {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  /* line 748, ../sass/Site.scss */
  ul#menu li {
    margin: 0;
    padding: 0;
  }

  /* main layout
  ----------------------------------------------------------*/
  /* line 755, ../sass/Site.scss */
  .main-content, .featured + .main-content {
    background-position: 10px 0;
  }

  /* line 758, ../sass/Site.scss */
  .content-wrapper {
    padding-right: 10px;
    padding-left: 10px;
  }

  /* line 762, ../sass/Site.scss */
  .featured .content-wrapper {
    padding: 10px;
  }

  /* page content */
  /* line 766, ../sass/Site.scss */
  article, aside {
    float: none;
    width: 100%;
  }

  /* ordered list */
  /* line 771, ../sass/Site.scss */
  ol.round {
    list-style-type: none;
    padding-left: 0;
  }
  /* line 774, ../sass/Site.scss */
  ol.round li {
    padding-left: 10px;
    margin: 25px 0;
  }
  /* line 777, ../sass/Site.scss */
  ol.round li.zero, ol.round li.one, ol.round li.two, ol.round li.three, ol.round li.four, ol.round li.five, ol.round li.six, ol.round li.seven, ol.round li.eight, ol.round li.nine {
    background: none;
  }

  /* features */
  /* line 783, ../sass/Site.scss */
  section.feature {
    float: none;
    padding: 10px;
    width: auto;
  }
  /* line 787, ../sass/Site.scss */
  section.feature img {
    color: #999;
    content: attr(alt);
    font-size: 1.5em;
    font-weight: 600;
  }

  /* forms */
  /* line 795, ../sass/Site.scss */
  input {
    width: 90%;
  }

  /* login page */
  /* line 799, ../sass/Site.scss */
  #loginForm {
    border-right: none;
    float: none;
    width: auto;
  }
  /* line 803, ../sass/Site.scss */
  #loginForm .validation-error {
    display: block;
    margin-left: 15px;
  }

  /* line 808, ../sass/Site.scss */
  #socialLoginForm {
    margin-left: 0;
    float: none;
    width: auto;
  }

  /* footer
  ----------------------------------------------------------*/
  /* line 815, ../sass/Site.scss */
  footer {
    text-align: center;
    height: auto;
    padding: 10px 0;
  }
  /* line 816, ../sass/Site.scss */
  footer .float-left, footer .float-right {
    float: none;
  }
  /* line 822, ../sass/Site.scss */
  footer p {
    margin: 0;
  }
}
